.app.dark {
  --bg-color:    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inveted-primary-color: #00b6fc;
  --inveted-secondary-color: #0449e0;
}
